.hero {
  &__wrapper {
    display: grid;
    grid-template-columns: clamp(20rem, 50vw, 42.5rem) auto;
    align-items: center;
    gap: 1rem;
    @include media($mobile) {
      grid-template-columns: 1fr;
    }
  }
  p {
    max-width: 430px;
  }
}
